<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="_01_Assignment.Properties.Settings.VRAssignment_dboConnectionString"
            connectionString="Data Source=vishal;Initial Catalog=VRAssignment.dbo;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="_01_Assignment.Properties.Settings.VSRAssignment_dboConnectionString"
            connectionString="Data Source=vishal;Initial Catalog=VSRAssignment.dbo;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="_01_Assignment.Properties.Settings.Assignment34_dboConnectionString"
            connectionString="Data Source=DESKTOP-UMB7GAF\MSSQLSERVER02;Initial Catalog=Assignment34.dbo;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
</configuration>